:root {
  font-family: "Quicksand", sans-serif;
  --primary-color: orange;
  --transition-mode: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);

  /* max vw 900px with slightly roundup */
  --font-size-primary: max(0.5rem, min(0.25rem + 1.38vw, 1rem));

  /* max vw 1280px */
  --font-size-large: max(1rem, min(0.3333rem + 3.3333vw, 2.5rem));

  /* max vw 1280px */
  --font-size-medium: max(0.8rem, min(0.5667rem + 1.1667vw, 1.5rem));
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size-primary);
}
